{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>sigma hospital</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Product+Sans:400,700" />
    <link href="{% static 'hospital_management/css/index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script" />
    <link href="{% static 'hospital_management/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'hospital_management/css/homepage.css' %}" rel="stylesheet" />
    {% block links %}
    {% endblock links %}

    {% block javascript %}
    {% endblock javascript %}
</head>

<body style="font-family : Product Sans;">
    <nav class="
                navbar
                navigation-clean
                navbar-expand-lg navbar-light
                bg-yellow
                sticky-top
                mt-2
                shadow
                p-2
                mb-5
                d-flex
                justify-content-between
                rounded
                
            ">
        <a href="{%url 'index'%}"><img src="{% static 'hospital_management/images/logo.png' %}" width="40" height="40"
            class="d-inline-block align-top" alt=""  /></a>

        <a herf="{% url 'index' %}" class="navbar-brand" style="font-family : Product Sans; font-size: 30px ;">
            Sigma Hospital
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

        <div class="dropdown d-inline-block align-top">
            <img src="{% static 'hospital_management/images/menu.png' %}" width="40" height="40" class="dropbtn"
                alt="" />
            <div class="dropdown-content">

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"> Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'patient-register' %}">Patient Register</a>
                <a href="{% url 'doctor-register' %}">Doctor Register</a>
                <a href="{% url 'staff-register' %}">Staff Register</a>
                {% endif %}
            </div>
        </div>

        <!-- <a href = "
            
            "
            
            ><img
            
                src="{% static 'hospital_management/images/menu.png' %}"
                width="40"
                height="40"
                class="d-inline-block align-top"
                alt=""
            /></a> -->

    </nav>
    {% block body %} {% endblock body %}
</body>

</html>