{% extends "hospital_management/layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/css/dashboard.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock links %}

{% block body %}
<div class="container">
    <!--
    <h1>Doctor's dashboard</h1> Doctor's information -->
    <div class="user">
        <img class="img" src="{% static 'doctor/Images/sample.png' %}" />
        <h2 class="name" style="font-family : Product Sans;">{{doctor.user.first_name}} {{doctor.user.last_name}}</h2>
        <p class="type">Department - {{doctor.department}}</p>
        <p class="type">Tenure - {{doctor.tenure}}</p>

        <a class="button" href='/doctor/view-appointments/'>View appointments</a>
        <a class="button" href='/doctor/view-patients/'>View patients</a>
        <button onclick="location.href = '/logout' " class="logout">Logout</button>
        
    </div>
    <div class="welcome">
        <!-- Welcome text -->
        <h1 class="heading" style="font-family : Product Sans;">Welcome Dr. {{doctor.user.first_name}}</h1>
        <!-- View appointments -->
        <div class="optiondiv">
            <a class="option1" href="/doctor/view-appointments/"><i class="fa fa-calendar"
                style="font-size: 50px;"></i><br />View Appointments</a>
        </div>
        <!-- Statistics -->
        <div style="margin-bottom: 15px;">
            <h1 class="heading">Statistics</h1>
            <table>
                <tr>
                    <td>Appointments:</td>
                    <td>{{appointment_count}}</td>
                </tr>
                <tr>
                    <td>Patients:</td>
                    <td>{{patient_count}}</td>
                </tr>
            </table>

            <h1 class="heading">Appointment Statistics</h1>
            <table>
                <tr>
                    <th>Patient</th>
                    <th>Status</th>
                    <th>Info</th>
                </tr>
                {% for a in appointments %}
                <tr>
                    <td>{{a.patient_name}}</td>
                    <td>{{a.status}}</td>
                    <td><a href='#'>View more</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}