{% extends "hospital_management/layout.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/doctorlist.css' %}" />
{% endblock links %}

{% block body %}
<div class="container">
    <h1>Doctors</h1>
    {% for d in doctors %}
    <div class="doctor-card">
        <h2>{{d.user.first_name}} {{d.user.last_name}}</h2>
        <p><strong>Department</strong>: {{d.department}}</p>
        <p><strong>Tenure</strong>: {{d.tenure}}</p>
    </div>
    {% endfor %}
</div>
{% endblock body %}