{% extends "hospital_management/layout.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/doctorlist.css' %}" />
{% endblock links %}

{% block body %}
<div class="container">
    <h1>Prescriptions</h1>
    {% for p in prescriptions %}
    <div class="doctor-card">
        <p><strong>Patient name</strong>: {{p.patient_name}}</p>
        <p><strong>Doctor name</strong>: Dr. {{p.doctor_name}}</p>
        <p><strong>Appointment Date</strong>: {{p.appointment_date}}</p>
        <p><strong>Prescription</strong>: {{p.prescription}}</p>
        <p><strong>Medicine</strong>: {{p.medicines}}</p>
    </div>
    {% endfor %}
</div>
{% endblock body %}