

.container {
    display: flex;
    flex-direction: row;
}
.user {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 580px;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.name {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}

.img {
    width: 180px;
    margin: 30px;
    border-radius: 90px;
}

.type {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: gray;
    font-weight: lighter;
}

.details {
    justify-content: flex-start;
    font-size: 14px;
    color: black;
    font-weight: lighter;
}

.button {
    margin-top: 10px;
    margin: 8px;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    border: 0;
    color: black;
    text-decoration: none;
}

.logout {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(245, 105, 105);
    border: white;
    width: 100px;
    height: 30px;
    padding-left:25px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.line {
    width: 200px;
}

.logout:hover {
    color: black;
    transform: scale(1.1);
}

.welcome {
    margin: 0;
    width: 100%;
    padding: 20px;
    margin-left: 40px;
}
.optiondiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.option1 {
    display:flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    padding: 40px;
    border-radius: 60px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-right: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 0;
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.2s;
    background-color: rgb(255, 217, 217);
    
    
}

.option1:hover {
    transform: scale(1.05);
    color: black;
    text-decoration: none;
}

.heading {
    margin-top: 20px;
    font-size: 35px;
}



@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user {
        margin-bottom: 25px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .optiondiv {
        align-items: center;
        flex-direction: column;
    }
}
