<!DOCTYPE html>
<html lang="en" dir="ltr">

{% load static %}
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href= "{% static 'staff/css/admin_dashboard.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="market-updates">
        <a href='/staff/unapproved-doctors'>
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-1">
                    <div class="col-md-8 market-update-left">
                        <h3>{{doctorcount}}</h3>
                        <h4>Total Doctor</h4>
                        <p>Approval Required : {{pendingdoctorcount}}</p>
                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </a>
        <a href='/staff/unapproved-patients'>
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-2">
                    <div class="col-md-8 market-update-left">
                        <h3>{{patientcount}}</h3>
                        <h4>Total Patient</h4>
                        <p>Wants to Admit : {{pendingpatientcount}}</p>
                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-user-o"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </a>
        <a href='/staff/unapproved-appointments'>
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-3">
                    <div class="col-md-8 market-update-left">
                        <h3>{{apppointmentscount}}</h3>
                        <h4>Total Appointment</h4>
                        <p>Approve Appointments : {{pendingappointmentcount}}</p>
                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-calendar"> </i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>
</body>

</html>