{% extends "hospital_management/layout.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/doctorlist.css' %}" />
{% endblock links %}

{% block body %}
<div class="container">
    <h1>Patients</h1>
    {% for p in patients %}
    <div class="doctor-card">
        <p><strong>Patient name</strong>: {{p.user.first_name}} {{p.user.last_name}}</p>
        <p><strong>Address</strong>: {{p.address}}</p>
        <p><strong>Contact Number</strong>: {{p.contact_no}}</p>
        <p><strong>Symptoms</strong>: {{p.symptoms}}</p>
        <p><strong>Gender</strong>: {{p.sex}}</p>
        <a href="/staff/delete-patient/{{ p.pk }}"><button
                style="background-color: red; color: white;">Delete</button></a>
    </div>
    {% endfor %}
</div>
{% endblock body %}