{% extends "hospital_management/layout.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/doctorlist.css' %}" />
{% endblock links %}

{% block body %}
<div class="container">
    <h1>All Appointments</h1>
    {% for a in appointments %}
    <div class="doctor-card">
        <p><strong>Patient name</strong>: {{a.patient_name}}</p>
        <p><strong>Doctor name</strong>: {{a.doctor_name}}</p>
        <p><strong>Description</strong>: {{a.description}}</p>
        <p><strong>Appointment Date</strong>: {{a.appointment_date}}</p>
        <p><strong>Appointment Time</strong>: {{a.appointment_time}}</p>
        <a href="/staff/generate-bill/{{ a.pk }}"><button>Generate Bill</button></a>
        <a href="/staff/delete-appointment/{{ a.pk }}"><button
                style="background-color: red; color: white;">Delete</button></a>
    </div>
    {% endfor %}
</div>
{% endblock body %}